<hr />

@{
    ViewBag.Title = "Potvrdite e-pošte";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala Vam za potvrdu e-pošte. Molimo Vas @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
