
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" >
    <h1>Drogerija</h1>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Inspiracija i saveti!</h4>
        <h5>Ovde možete da pronađete aktuelne sadržaje na temu šminke, nege i zdravlja. Osim toga, pružamo vam i praktične savete za domaćinstvo i ukusne recepte. Svim majkama i očevima, kao i budućim roditeljima pomažemo kontrolnim listama i mnoštvom saveta u vezi sa trudnoćom, bebama i decom. Takođe, nisu uskraćeni ni ljubitelji životinja. </h5>
    </div>
    <p><a href="https://localhost:44355/Proizvod" class="btn btn-primary btn-lg">Pogledaj više &raquo;</a></p>
</div>
<img src="~/Slike/pr 5.jpg" width="375" height="250" />
<img src="~/Slike/pr1.jpg" width="375" height="250"/>
<img src="~/Slike/pr4.jpg" width="375" height="250" />
<div class="row" >
    <div class="col-md-4">
        <h2>O drogerijama</h2>
        <p>
            Sve dm prodavnice su tako uređene da ćete se vrlo brzo snaći: police sa optimalno podešenom visinom, prijatno osvetljenje, široko prolazi između gondola, prijatna i opuštena atmosfera. Svim bebama poklanjamo dobar početak! dm prilagođava svoju ponudu potrebama kupaca, još jedna primer je dm babybonus program.  dm babybonus program je namenjen svim bebama rođenim u Republici Srbiji i njihovim roditeljima kao podrška u prvoj i najzahtevnijoj godini detetovog života.
        </p>
        <p><a class="btn btn-success" href="https://localhost:44355/Drogerija">Informacije o drogerijama &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tipovi proizvoda</h2>
        <p>
            Za svakodnevnu potrošnju nudimo Vam po povoljnim cenama široku ponudu proizvoda naših robnih marki i pružamo maksimalan kvalitet proizvoda. Dobra usluga se kod nas podrazumeva. Želimo da su naši kupci uvek zadovoljni i zato im pružamo niz različitih mogućnosti kao što je vraćanje proizvoda uz priloženi račun. Veoma nam je stalo da obezbedimo dobru uslugu našim kupcima i zato Vam zaposleni u dm prodavnicama stoje na raspolaganju za svaki savet i svako pitanje.
        </p>
        <p><a class="btn btn-success" href="https://localhost:44355/TipProizvoda">Pogledaj više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kontaktirajte nas</h2>
        <p>Imate pohvalu, žalbu ili reklamaciju? Ili možda imate predlog za saradnju? Slobodno nas kontaktirajte.</p>
        <p><a class="btn btn-success" href="https://localhost:44355/Home/Kontakt">Dalje &raquo;</a></p>
    </div>
</div>